qemu 
device-tree-compiler 
libcacard 
libnfs 
libseccomp 
usbredir 
vde2 
virglrenderer 
spice 
spice-protocol 
snappy 
sparse 
liburing 
pcsc-lite 
celt051 
gst-plugins-ugly 
libmpeg2 
twolame 
x264
capstone
libslirp
