virt-manager 
libosinfo 
tunctl 
gtk-vnc 
libvirt-glib 
libvirt-python 
spice-gtk 
gtksourceview4 
osinfo-db 
osinfo-db-tools 
glade 
webkitgtk 
bubblewrap 
xdg-dbus-proxy 
libwpe 
wpebackend-fdo 
gst-plugins-bad 
libmanette 
faac 
faad2 
timidity 
libdc1394 
soundtouch 
rtmpdump
